:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Common styles*/

button {
  cursor: pointer;
}

/* AddUsers styles */

.addUsers_main_container {
  background-color: rgba(255, 255, 255, 0.2);
}

.addUsers_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addUsers_form section {
  width: 28%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

/* CheckElecParam styles */

.checkElecParam_main_container {
  background-color: gray;
}

/* CardElecParam styles */

.cardElectParam_results_container {
  display: flex;
  justify-content: space-between;
}

.cardElectParam_results_container p,
.cardElectParam_results_container h3 {
  font-size: medium;
}